.wrapperOfferProduct{
    margin-top: 10px;
    margin-bottom: 18px;
    width: 169px;
    flex-grow: 0.5;
    text-decoration: none;
}

.wrapperOfferProduct:hover .containerDetailsOfferProduct .nameOfferProducto{
    text-decoration: underline;
    color: #000;
}

.containerOfferProduct{
    background-color: #1276A2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 107px;
}

.containerDetailsOfferProduct{
    word-break: keep-all;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerDetailsOfferProduct .priceOfferProduct{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}


.containerDetailsOfferProduct .nameOfferProducto{
    margin-top: 5px;
    font-size: 14px;
    color: #000000;
}


 /* Estilos Responsivos para pantallas mas grandes que un dispositivo movil*/

 @media screen and (min-width:768px) {
    .wrapperOfferProduct{
        margin-top: 20px;
        width: 315px;
    }

    .containerOfferProduct{
        height: 200px;
    }

    .containerDetailsOfferProduct .priceOfferProduct{
        font-size: 29px;
    }

    .containerDetailsOfferProduct .nameOfferProducto{
        font-size: 18px;
        color: #000000;
    }
    
    
  }
  
  
    
