.containerProductCatalog {
    width: 100%;
  }

.containerProductCatalog .headerProductCatalog{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 31px;

}

.containerProductCatalog .catalogWrapper .prevIcon, .nextIcon{
  display: none;
}
.containerProductCatalog .containerWrapper{
    display: flex;
    margin-bottom: 10px;
    overflow-x: scroll;

}
  
.containerProductCatalog .containerWrapper::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.containerProductCatalog .containerWrapper::-webkit-scrollbar-track {
  background-color: #F6F6F6;
  width: 100%;
  height: 8px;
  border-radius: 4px;
}
 
/* Handle */
.containerProductCatalog .containerWrapper::-webkit-scrollbar-thumb {
  background-color: #94D500; 
  border-radius: 4px;
  width: 5px;
}

@media screen and (min-width:768px) {
  .containerProductCatalog {
    padding: 0px;
  }
  .containerProductCatalog .headerProductCatalog{
    margin-top: 28px;
  }
  
  .containerProductCatalog .catalogWrapper{
    display: flex;
    align-items: center;
  }
  .containerProductCatalog .catalogWrapper .prevIcon{
    display: block;
    width: 12.75px;
    height: 22.45px;
    margin: 0 20px 0 26px;
  }

  .containerProductCatalog .catalogWrapper .nextIcon{
    display: block;
    width: 12.75px;
    height: 22.45px;
    margin: 0 26px 0 20px;
  }


  .containerProductCatalog .containerWrapper{
    overflow-x: hidden;

}


} 

