.groupTools{
    width: 100%;    
    padding: 0 15.5px 0 15px;
    margin-bottom: 40px;
}

.groupTools .headerGroupTools{
    display: flex;
    flex-direction: column;
    align-items: center;;
    justify-content: center;
    margin-top: 31px;
  }

  .groupTools .toolsWrapper{
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
  }

  @media screen and (min-width:768px) {
    .groupTools{
        padding: 0 30px 0 30px;
    }
    
    .groupTools .headerGroupTools{
        margin-top: 40px;
      }
    
    .groupTools .toolsWrapper {
        gap: 30px;
    }
  }


  @media screen and (min-width:1024px) {
    .groupTools{
        padding: 0 64px 0 64px;
    }

    .groupTools .toolsWrapper {
        gap: 96px;
    }
    
  }