.departamentItemWrapper{
    position: relative;
    margin-top: 29px;
    width: 109px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer{
    width: 100%;
}

.imgContainer h2{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    bottom: 50%;
    color: #fff;
    text-align: center;
    position:absolute;
}

.departamentItemWrapper .departamentImg{
    width: 100%;
    height: 108px;
    object-fit: contain;
}

.departamentItemWrapper .departamentImg::before{
    width: 100%;
    height: 108px;
    object-fit: contain;
}

.departamentItemWrapper .departamentName{
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    margin-top: 8px;
}


@media screen and (min-width: 768px) {
    .departamentItemWrapper{
        margin-top: 44px;
        width: 175px;
    }
    
    .imgContainer h2{
        font-size: 29px;
    }
    
    .departamentItemWrapper .departamentImg{
        width: 100%;
        height: 184px;
        object-fit: contain;  
    }

    .departamentItemWrapper .departamentName{
        font-size: 16px;
        margin-top: 13px;
    }
}