.containerTopCarousel {
    padding: 10px;
    overflow: hidden;
    width: 100%;
    height: 345px;
    position: relative;
    
  }
  /* Slider wrapper*/
  .containerTopCarousel .wrapper {
    display: block;
    background: #FFF;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  /* Slider */
  .slider {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 41px 24px 0 22px;
    transition: -webkit-transform 800ms, transform 800ms;
    text-align: center;
  }
  /* each slide backgound color */  
  .slide1 {
    background-image: url("../../img/0TRUPER2.png");
    left: 0;
  }
  .slide2 {
    background-image: url("../../img/Mask\ Group\ 2213.svg");
    left: 100%
  }
  .slide3 {
    background-image: url("../../img/Group\ 7914.png");
    left: 200%
  }

  /* Slider inner slide effect */
  .slider .h1-mobile-BannerMonster {
    color: #FFF;
    font-weight: bold;
    font-size: 32px;
    opacity: 1;
  }

  .slider .black{
    color: #000;
  }
  
  /* Slider Pagger */ 
  .pagination {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
  }

  .pagination label {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url("../../img/Ellipse 25.svg");
    margin: 311px 14px 24px 0;
    cursor: pointer;
  }

  .pagination label:last-child{
    margin: 311px 0 24px 0;
  }

  /* Slider Pagger event */
  .radio1:checked ~ .pagination .page1, 
  .radio2:checked ~ .pagination .page2, 
  .radio3:checked ~ .pagination .page3{
    background-image: url("../../img/Ellipse 23.svg");
  }
  /* Slider slide effect */
  .radio1:checked ~ .slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .radio2:checked ~ .slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .radio3:checked ~ .slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
 