.containerTopCarousel{
    position: relative;
    height: 345px;
    margin: 0px;
    width: 100%;
}
ol,ul {
    list-style: none;
}
.topCarousel {
    padding: 0px 15px 0 16px;
    height: 100%;
    margin: 0px;
    width: 100%;
    position: absolute;
}

.topCarousel .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}


.h1-mobile-BannerMonster{
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    padding: 41px 25px 198px 27px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    object-fit: scale-down;
}

.white{
    color: #fff;
}
.h1-mobile-BannerMonster .black{
    color:#000;
}

.wrapper .carouselItem{
    width: 100%;
    flex: 0 0 100%;
}

.wrapper #carousel__slide1{
    background-image: url("../../img/0TRUPER2.png");
    width: 1035px;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.wrapper #carousel__slide2{
    background-image: url("../../img/Mask\ Group\ 2213.svg");
    width: 1035px;
    height: 100%;
    background-position: center;
    background-size: cover;
}


.wrapper #carousel__slide3{
    background-image: url("../../img/Group\ 7914.png");
    width: 1035px;
    height: 100%;
    background-position: center;
    background-size: cover;
}


.carousel__navigation {
    position: absolute;
    text-align: center;
    padding: 311px 144px 22px 142px;
    width: 100%;
}
  
.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-list li {
    margin-right: 14px;
}
.carousel__navigation-list li:last-child {
    margin-right: 0px;
}

.carousel__navigation-button img{
    width: 10px;
    height: 10px;
    
}


*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}