.toolItemContainer{
    position: relative;
    width: 108px;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    flex-grow: 1;
}
.toolItemContainer:hover{
   color: black;
   text-decoration: underline;
}


.toolItemContainer .imgWrapper{
    width: 100%;
    height: 106px;
}


.toolItemContainer .imgWrapper h2{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    bottom: 52%;
    color: #000000;
    text-align: center;
    position:absolute;
}

.toolItemContainer .imgWrapper img{
    width: 100%;
    height: 100%;
}

.toolItemContainer a{
    color: #000000;
    text-decoration: none;
}


.toolItemContainer h3{
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}

@media screen and (max-width:374px){
    .toolItemContainer{
        max-width: 150px;

    }
    .toolItemContainer .imgWrapper{
        width: 100%;
        height: 120px;
    }
}

@media screen and (min-width: 768px) {
    .toolItemContainer{
        width: 145px;
        max-width: 190px;
        margin-top: 22px;
    }
    
    .toolItemContainer .imgWrapper{
        width: 100%;
        height: 150px;
    }
    
    .toolItemContainer h3{
        margin-top: 13px;
        font-size: 16px;
    }

    .toolItemContainer:last-child{
        display: none;
    }
}


@media screen and (min-width: 1024px) {
    .toolItemContainer{
        width: 183px;
        max-width: 200px;
        margin-top: 22px;
    }
    
    .toolItemContainer .imgWrapper{
        width: 100%;
        height: 181px;
    }

}
