.productItemContainer{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 13.1px;
    width: 165.5px;
}
.productItemContainer .favIcon{
    width: 18.49px;
    height: 16.45;
    object-fit: fill;
    margin-right: 6.6px;
    margin-left: auto;
    margin-top: 7px;
}

.elements{
    width: 139px;
}
.elements .imgProduct{
    width: 100%;
    height: 139px;
    object-fit: fill;
}

.colorsContainer{
    display: flex;
}

.colorsContainer .colors{
    width: 110.83px;
    height: 9px;
    margin: 9.1px  6.2px;
}

.elements .util{
    margin-top: 6.4px;
    font-size: 10px;
    font-weight: normal;
    color: #76787A;
}

.elements .productDetail{
    margin-top: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

.elements .productPriceContainer{
    display: flex;
    align-items: baseline;
    margin-top: 15px;
    font-size: 10px;
    font-weight: normal;
    color: #000000;

}

.elements .stars{
    width: 60.33px;
    height: 7.55;
    object-fit: fill;
}

.productFooterWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} 

.productFooterWrapper .productPrice{
    margin-left: 4px;
    font-size: 12px;
}

.productFooterWrapper .productDelivery{
    margin-top: 4px;
    font-size: 10px;
    font-weight: normal;
    color: #000000;
    text-align: left;
}

.productFooterWrapper button{
    width: 54px;
    height: 19px;
    border-radius: 17px;
    font-size: 10px;
    background-color: #94D500;
    color: #ffff;
    border: none;
}


