.App{
    width: 100%;
}

.re-central{
    max-width: 100%;
    padding: 0px 15px 0 15px;
}

.TopServicesBanners{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


.serviceBanner{
    display: flex;
    padding-bottom:13px;
}


.Departaments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom:40px;
}


:is(.Departaments, .headerProductCatalog, .brandsContainer, .headerGroupTools) .tittle {
    word-break: keep-all;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.headerProductCatalog .tittle {
    font-size: 24px;
}


:is(.Departaments, .headerProductCatalog, .headerGroupTools) .more{
    margin-top: 7px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 16px;
}
:is(.Departaments, .headerProductCatalog, .headerGroupTools) .more img{
    margin-left: 6px;
    width: 5.41px;
    height: 9.53px;
    background-repeat: no-repeat;
}

:is(.Departaments, .headerProductCatalog, .headerGroupTools) .more a{
    color: #000000;
    text-decoration: none;
}


:is(.Departaments, .headerProductCatalog, .brandsContainer, .headerGroupTools) .tittle a {
    color: #000000;
    text-decoration: none;
}

/* Estilos Responsivos para pantallas mas grandes que un dispositivo movil*/

@media screen and (min-width:768px) {
    .re-central{
        padding: 0px 30px 0 30px;
    }


    .Departaments{
        margin-top: 27px;
    }
    
    :is(.Departaments, .headerProductCatalog, .brandsContainer, .headerGroupTools) .tittle {
        font-size: 29px;
        font-weight: bold;
        color: #000000;
    }

    :is(.Departaments, .headerProductCatalog, .brandsContainer, .headerGroupTools) .tittle a {
        color: #000000;
        text-decoration: none;
    }

    :is(.Departaments, .headerProductCatalog, .headerGroupTools) .more{
        margin-top: 9px;
        margin-bottom: 44px;
        font-size: 16px;
    }

    :is(.Departaments, .headerProductCatalog, .headerGroupTools) .more a{
        color: #000000;
        text-decoration: none;
    }
    :is(.Departaments, .headerProductCatalog, .headerGroupTools) .more a:hover{
        color: #000000;
        text-decoration: underline;
    }

    :is(.Departaments, .headerProductCatalog, .headerGroupTools) .more img{
        margin-left: 3px;
        width: 15.41px;
        height: 9.53px;
        background-repeat: no-repeat;
    }
    
    
}

@media screen and (min-width:1024px) {
    .re-central{
        padding: 0px 65px 0 65px;
    }

}


