.App{
    width: 100%;
}

.topContainer{
    padding: 0px 15px 0 16px;
}

.TopServicesBanners{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 16px 13px 15px;
}


.serviceBanner{
    display: flex;
    padding: 0px 16px 13px 15px;
}

.bottomBanner{
    display: flex;
    padding: 0px 7px 0px 8px;
}

.Departaments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 0 16px 50px 16px;
}


:is(.Departaments, .headerProductCatalog, .brandsContainer, .headerGroupTools) .tittle {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.headerProductCatalog .tittle {
    font-size: 24px;
}


:is(.Departaments, .headerProductCatalog, .headerGroupTools) .more{
    margin-top: 7px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 16px;
}
:is(.Departaments, .headerProductCatalog, .headerGroupTools) .more img{
    margin-left: 6px;
    width: 5.41px;
    height: 9.53px;
    background-repeat: no-repeat;
}

:is(.Departaments, .headerProductCatalog, .headerGroupTools) .more a{
    color: #000000;
    text-decoration: none;
}


:is(.Departaments, .headerProductCatalog, .brandsContainer, .headerGroupTools) .tittle a {
    color: #000000;
    text-decoration: none;
}

/* Estilos Responsivos para pantallas mas grandes que un dispositivo movil*/

@media screen and (min-width:768px) {
    .topContainer{
        padding: 0px 30px 0 30px;
    }

    .TopServicesBanners{
        padding: 0px 30px 13px 30px;
    }

    .serviceBanner{
        display: flex;
        padding: 0px 30px 13px 30px;
    }

    .Departaments{
        margin-top: 27px;
        padding: 0 30px 50px 30px;
    }
    
    :is(.Departaments, .headerProductCatalog, .brandsContainer, .headerGroupTools) .tittle {
        font-size: 29px;
        font-weight: bold;
        color: #000000;
    }

    :is(.Departaments, .headerProductCatalog, .brandsContainer, .headerGroupTools) .tittle a {
        color: #000000;
        text-decoration: none;
    }

    :is(.Departaments, .headerProductCatalog, .headerGroupTools) .more{
        margin-top: 9px;
        margin-bottom: 44px;
        font-size: 16px;
    }

    :is(.Departaments, .headerProductCatalog, .headerGroupTools) .more a{
        color: #000000;
        text-decoration: none;
    }
    :is(.Departaments, .headerProductCatalog, .headerGroupTools) .more img{
        margin-left: 3px;
        width: 15.41px;
        height: 9.53px;
        background-repeat: no-repeat;
    }

    .bottomBanner{
        padding: 0px 30px 0px 30px;
    }
    
    
}

@media screen and (min-width:1024px) {
    .topContainer{
        padding: 0px 65px 0 65px;
    }

    .TopServicesBanners{
        padding: 0px 64px 13px 64px;
    }

    .serviceBanner{
        display: flex;
        padding: 0px 64px 13px 64px;
    }

    .Departaments{
        padding: 0 64px 50px 64px;
    }


    .bottomBanner{
        padding: 0px 64px 0px 64px;
    }
}


