.offersContainer{
    padding: 0px 16px 25px 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

  /* Estilos Responsivos para pantallas mas grandes que un dispositivo movil*/

  @media screen and (min-width:768px) {
    .offersContainer {
        padding: 0px 30px 25px 30px;
    }
  }
  
  @media screen and (min-width:1024px) {
    .offersContainer {
        padding: 0px 64px 25px 64px;
    }
  }
    